*{
    margin:0%;
    padding: 0%;
    font-family:'Roboto Mono' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: white;
    margin: 0px 65px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
/* .grid-container > div{
    border: 1px solid black;
} */
.nav_section{
    grid-column: 1 / span 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:  16px 32px;
    object-fit: cover;
}
#iconMenu{
    display: flex;
    width: 32px;
    height: 32px;
    color:  rgb(112, 85, 123);
    cursor: pointer;
}
#menu-button{
    border: 0;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
}
#iconMenu:after{
    box-shadow: 0px 0px 2px rgb(184, 184, 184);
}
#iconMenu:hover{
    filter: drop-shadow(0px 0px 20px rgb(231, 197, 226)) invert(15%);
}

#logoText{
    display: flex;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(112, 85, 123); /* ขนาดและสีของเส้นขอบรอบตัวอักษร */
    border: 5px;
    border-color: blueviolet;
    
}

.img-logo-section{
    grid-column: 1 / span 2;
    flex-wrap: wrap;
    text-align: center;
    padding-top:33vh;
    padding-left: 1px;
    
}

#img_Logo{
    
    align-items: center;
    /* position: absolute; */
    margin-top: 20px;
    padding-bottom: 24px;
}
.text-top-myform{
    margin: 30px;
    
}
#greeting{
    font-size: 48px;
    text-align: center;
    color: rgb(112, 85, 123);
}
#bg{
    background-color: antiquewhite;
    margin: 25px;
}
.input-form-section{
    grid-column: 3 /span 3;
    text-align: center;
    padding-top:12vh;
}
#myForm{
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px  rgb(112, 85, 123); ;
    margin: 20px;
    margin-right: 30px;
    border-radius: 20px;
}
.input-box{
    padding-bottom: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input-box-{
    text-align: center;
    /* padding-right: 77px; */
}

input{
    font-size: 2ch;
    text-align: left;
    align-content: center;
    
    width: 264px;
    height: 24px;
    padding-right: 24px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: none;
    border-width: 1px;
    border: 0;
    border-color: #d2d2d2;
    cursor: text;
    box-shadow: 0px 0px 2px rgb(184, 184, 184);
    margin-right: 16px;
}
input:hover{
    box-shadow: 0px 0px 10px rgb(199, 199, 199);
}
input:action{
    border: none;
    border-width: 0;
}
#errormsg{
    display: block;
    text-align: center;
    align-items: center;
    margin-top: 8px;
    font-size: 10pt;
    /* margin-right: 220px; */
    color: rgb(255, 103, 103);
}
.submit{
    width: 298px;
    height: 42px;
    border-radius: 20px;
    border-width: 0;
    background-color: rgb(112, 85, 123);
    color: white;
    font-size: 20px;
    margin-top: 8px;
    cursor: pointer;
    margin-bottom: 24px;
}
.submit:hover{
    box-shadow: 0px 0px 10px rgb(199, 199, 199);
}
.text-top-formsection{
    padding: 24px;
}
a:hover{

    box-shadow: 0px 0px 10px rgb(199, 199, 199);
}
.text-top-formsection{
    color: rgb(112, 85, 123) ;
}
.login-choice{
    text-align: center;
}
.icon-login-choice{
    margin: 24px 8px;
    font-size: 32px;
    color: rgb(112, 85, 123);

}
.icon-login-choice:hover{
    transition: 0.1s ease;
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 10px rgb(255, 217, 249)) invert(15%);
    cursor: pointer;
}
/* Login style */
.input-login-section{
    grid-column: 3 /span 3;
    text-align: center;
    padding-top:20vh;
}
#myLogin{
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px  rgb(112, 85, 123); ;
    margin: 20px;
    margin-right: 30px;
    border-radius: 20px;
    /* background-color: antiquewhite; */
}
.text-welcome{
    font-size: 50px;
    color: rgb(112, 85, 123,100);
    padding-top: 24px;
    padding: 24px;
}

.login{
    width: 298px;
    height: 42px;
    border-radius: 20px;
    border-width: 0;
    background-color: rgb(112, 85, 123);
    color: white;
    font-size: 20px;
    margin-top: 24px;
    cursor: pointer;
    margin-bottom: 24px;
}
.login:hover{
    box-shadow: 0px 0px 10px rgb(199, 199, 199);
}
/* eng Login style */

@media  only screen and (max-width: 1251) {
    .grid-container{
        grid-template-columns: auto auto;
    }
    .nav_section{
        grid-column: 1 / span 3;
    }
    
    .img-logo-section{
        grid-column: 1 / span 3;
        text-align: center;
        padding: 20px;
        margin-top: 10px ;
    }
    
    .input-form-section{
        grid-column: 1 / span 3;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .input-box-{
        text-align: center;
    }
    .submit{
        margin: 0%;
        padding: 0%;
    }
    
}
@media only screen and (max-width: 767px){
    .grid-container{
        grid-template-columns: auto auto;
    }
    .nav_section{
        grid-column: 1 / span 3;
    }
    
    .img-logo-section{
        grid-column: 1 / span 3;
        text-align: center;
        padding: 20px;
        margin-top: 10px ;
    }
    
    .input-form-section{
        grid-column: 1 / span 3;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .input-box{
        display: block;
        justify-content: center;
        flex-direction: column;
        padding: 0%;
        margin-bottom: 8px;
    }
    input{
        margin: 8px;
    }
    .input-box-{
        margin: 0;
        padding: 0;
        align-items: center;
        text-align: center;
        margin-top: 16px;
    }
    .submit{
        margin: 0%;
        text-align: center;
        align-content: center;
        padding-bottom: 5px;
    }
    #errormsg{
        padding-top: 8px;
        margin: 0%;
        text-align: center;
    }
}
